{{#each model as |user|}}
  <h2>Comments from {{#link-to "user.detail" user.id}}user {{user.id}}{{/link-to}}</h2>

  {{#each user.comments as |comment|}}
    <li>Comment {{comment.id}}</li>
  {{/each}}

  {{#each user.roles as |role|}}
    <li>Role {{user.id}}</li>
  {{/each}}
{{/each}}
