{{#with model.firstObject as |user|}}
  <h2>Comments from user {{user.id}}</h2>

  {{#each user.threads as |comment|}}
    <li>Thread {{comment.id}}</li>
  {{/each}}

  {{#each user.roles as |role|}}
    <li>Role {{user.id}}</li>
  {{/each}}
{{/with}}
